/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: var(--bg-color-light);
  --bg-image: var(--bg-image-light);
  --accent-color: var(--accent-color-light);
  --text-decore-color: var(--text-decore-color-light);
  --text-color: var(--text-color-light);
  --title-color: var(--title-color-light);
  --button-color: var(--text-color);
  --logo-color: var(--logo-color-light);
  --decorated-color: var(--decorated-color-light);
  --decorated-element-visible: none;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */


}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--bg-color-light);
    --bg-image: var(--bg-image-light);
    --accent-color: var(--accent-color-light);
    --text-decore-color: var(--text-decore-color-light);
    --text-color: var(--text-color-light);
    --title-color: var(--title-color-light);
    --button-color: var(--text-color);
    --logo-color: var(--logo-color-light);
    --decorated-color: var(--decorated-color-light);
    --decorated-element-visible: none;
  }
}
